
@font-face{
    font-family:'Poppins';
    src: url('font/Poppins-Regular.ttf');
}
/*bodi jadi full screen*/
body {
    margin: 0px;
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;

}

/*bagian header*/
header {
    font-family: 'Poppins', sans-serif;
    height: auto;
    background-color: white;
    position: sticky;
    top: 0;
    margin-bottom: -5px;
}

ol,
li,
nav,
a#header {
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    float: right;
    position: relative;
    text-decoration: none;
    color: #2336E8;
    margin-right: 20px;
    font-weight: bold;
}

#header:hover {
    color:#2336E8;
text-decoration: underline;
}

ol,
li,
a {
    float: left;
}

/*bagian nav*/
nav {
    height: auto;
    margin: auto;
}

#logo {
    content: url("home\ atribut/bearlogo.png");
    height: 30px;
    width: auto;
    margin: 10px;
}

.container {
    height: 300px;
    background-color: #D0EBFF;
}

.container2 {
    padding-top: 300px;
    height: 900px;
    width: auto;
}

/*bagian aside*/
aside {
    float: right;
    margin: 10px;
    padding: 10px;
    color: black;
    background: #8CB3FF;
    height: 600px;
    width: 20%;
    border-radius: 10px;
    box-shadow: -5px 0 0 0 #2336E8;

}

#promo {
    text-align: center;
    width: 300px;
    background-color: #ffffff;
    height: 150px;
    margin: 15px auto;
}

/*jadwal pemerbagannnn*/
.jadwal {
    float: left;
    background-color: #D0EBFF;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    height: 600px;
    width: 70%;
}

/*layout pengisian pada pemesanan pesawat */

.form_penerbangan {

    border-radius: 10px;
    background: rgb(255, 255, 255);
    width: auto;
    height: auto;
    margin: 10px 100px;
    margin-top: -80px;
    box-shadow: 0 5px 0 0 #2336E8;

}

form {
    padding: 20px;
    margin-top: 15px;
    border: #003947;
    border-radius: 10px;
    background-color: #8CB3FF;
    height: 100px;
    width: auto;
    display: inherit;
    text-align: center;
    /* ganti flex atau grip*/
}

select {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    border: none;
    width: 300px;
    height: 40px;
    color: #003947;
    font-weight: bold;
    border-radius: 5px;

}

option {
    font-family: 'Poppins', sans-serif;
    color: #003947;
    font-weight: bold;
}

.label {
    background-color: #ffffff;
    width: 300px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;

}

input[type=number] {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    color: #003947;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

input[type=date] {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    color: #003947;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

input[type=submit] {
    margin-top: 15px;
    text-align: center;
    font-size: medium;
    font-family: sans-serif;
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: auto;
    background-color: #2336E8;

}


#kursi {
    background-image: url("home\ atribut/people.png");
    background-size: 30px;
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

#kelas {
    background-size: 30px;
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    border: none;
    width: auto;
    margin-right: 20px;
}

#tujuan {
    background-image: url("home\ atribut/landing.png");
    background-size: 30px;
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

#asal {
    background-image: url("home\ atribut/takeoff.png");
    background-size: 30px;
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    padding-left: 30px;
}



#tanggal {
    background-image: url("home\ atribut/to.png");
    background-size: 30px;
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    padding-left: 30px;
}




/*bagian footer*/
footer {
    margin-top: 15px;
    text-align: center;
    height: auto;
    background: #D0EBFF;
    padding-bottom: 5px;
    bottom: 0px;
}
#foot{
    margin-top: 60px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.footer {
    text-decoration: none;
    text-align: left;
    color: #003947;
    font-weight: 100;
    font-size: small;
    float: none;
    margin-top: 5px;
}

.footer:hover {
    color: #2336E8;
}

h2 {
    color: #2336E8;
}

#copyright {
    font-size: small;
    color: #000000;
    width: auto;
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    

}

td {
    text-align: left;
}